@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <h2>@ViewBag.Title.</h2>
    <h3>Jian Zhong</h3>

    <address>
        5 Chryler Street<br />
        Natick, MA 01760<br />
        <abbr title="Phone">P:</abbr>
        508.981.2527
    </address>
</div>


