
@{
    ViewBag.Title = "Gallery";
}
<div class="container">
    <div class="col-md-12">
        <div class="col-md-6">
            <img class="cookingbook-img-col6 fruittar" src="~/Content/Images/image1.JPG"/>
        </div>
        <div class="col-md-6">
            <img class="cookingbook-img-col6 croissant" src="~/Content/Images/image2.JPG" />
        </div>
        <div class="col-md-6">
            <img class="cookingbook-img-col6" src="~/Content/Images/image3.JPG" />
        </div>
        <div class="col-md-6">
            <img class="cookingbook-img-col6" src="~/Content/Images/image4.JPG" />
        </div>
    </div>
</div>

